# Database Configuration (PostgreSQL)
# Un-comment and fill in these variables inside a new file named `.env` in the root folder

DB_NAME=flowforce_db
DB_USER=flowforce_user
DB_PASSWORD=YOUR_REAL_PASSWORD
DB_HOST=127.0.0.1
DB_PORT=5432

# Other Configuration
DEBUG=False
SECRET_KEY=your_django_secret_key
ALLOWED_HOSTS=your_domain.com,your_vps_ip
